{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}

	<body>
		<h1  style="font-family:verdana;font-size:332%;" class="head_center"><b>grumblr</b></h1>

		<br>
        <img calss ="img_center" src="{% static 'images/flaming_june/flaming_june__by_frederic_lord_leighton__1830_1896__1.png' %}" >
		<br>
		<h2 class="head_center">Please Login or <a href="{% url 'registration' %}">Sign Up</a></h2>
		<h2 class="head_center"><a href="{% url 'reset_password' %}">Reset My Password</a></h2>
		<form method="POST" >
            {% if form.errors %}
            <p style="color:yellow">
                Incorrect user name and password.
            </p>
            {% endif %}

 			<div class="container_log">
    			<label class="label_text"><b>Username</b></label>
    			<input type="text" placeholder="Enter Username" name="username" required>

	    		<label class="label_text"><b>Password</b></label>
    			<input type="password" placeholder="Enter Password" name="password" required>

   				<button type="submit" class="signupbtn"><b style="font-size:161%">Login</b></button>
    			<input type="checkbox" checked="checked"> <label  class="label_text">Remember me</label>
				{% csrf_token %}
  			</div>
		</form>
	</body>

{% endblock %}