.wheat{
  background: #F5DEB3;
}

.peru{
  background: #CD853F;
}

.banner{
	position: fixed;
	border: 2px solid brown;
}

.header{
	background-color: saddlebrown;
}

.nav-toggle-btn {
	display: block;
	position: absolute;
	left: 180px;
	width: 40px;
	height: 68px;

	background-color: orange;
}

body {
	font-family: Open Sans, Arial, sans-serif;
	overflow-x: hidden;
}

nav {
	position: fixed;
	z-index: 1000;
	top: 0;
	bottom: 0;
	width: 220px;
	background-color: peru;
	transform: translate3d(-180px 0, 0);
	transition: transform 0.4s ease;
	border-right: 5px solid white
}

.active-nav nav {
	transform: translate3d(0,0,0);
}

nav ul {
	list-style: none;
	margin-top: 150px;
	margin-right: 40px;
}

nav ul li a {
	text-decoration: none;
	display: block;
	text-align: left;
	color: wheat;
	padding: 10px 0;
	margin-left: 20px;
}

.content {
	padding-top: 60px;
	padding-left: 250px;
	height: 100%;
	background-color: wheat;
	background: linear-gradient(to bottom , lightgoldenrodyellow,  saddlebrown);
    background-repeat: repeat-y;
	transition: transform 0.4s ease;
	text-align: center;
}

.active-nav .content {
	transform: translate3d(200px; 0, 0);
}

.text p {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.image img {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

#content-box {
    position: relative;
}
#content-box img {
    position: absolute;
    top: 1em;
    left: 2em;
}
#image-box{
	width: 700px;
	height: 100px;

}

.post p {
  position: relative;
  top: 50%;
  opacity: 0.8;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  padding: 1em;
  margin-right: 1em;
}

h4{
	top: 1.5em;
	left: 5em;
	position: absolute;
	font-size: 20px;
	font-weight: bold;
	color: white;
}

h5{
	top: 1.5em;
	right: 1em;
	position: absolute;
	font-size: 12px;
	font-weight: lighter;
	color: white;
}



section {
	opacity: 0.9;
	display: block;
	max-width: 900px;
	background: peru;
	/*background: linear-gradient(to top left, brown, #483D8B);*/
	margin: 0 auto 2em;
	height: 180px;
	border-radius: 10px;
	position: relative;
	-webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    p {
    padding: 2em;
    margin: 0;
  	}
  	.post img {
  		padding: 2em;
  		border: 1px solid white;
  	}
}

/*copied from profile1.css */
/* Add a black background color to the top navigation */
.topnav {
    background-color: saddlebrown;
    overflow: hidden;
    padding-left: 450px;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    display: block;
    color: wheat;
    text-align: center;
    padding: 18px 18px;
    text-decoration: none;
    font-size: 17px;
}




